.catalog {
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  width: calc(215px + 30px + 1200px);
  grid-template-columns: 190px 1200px; /* TODO: Make a smarter grid instead of cheating with width */
  grid-template-rows: 92vh;
  column-gap: 20px;
  padding-top: 0px;
  margin: auto;
  overflow: hidden;
}

.catalog__filter {
  overflow-y: auto;
  padding-top: 40px;
}

.catalog__results-page {
  overflow-y: auto;
  padding-top: 40px;
}

.catalog__topic-list {
  display: grid;
  grid-auto-flow: column;
  margin: auto;
}

.catalog .filter-button {
  text-align: center;
  margin-bottom: 8px;
  padding: 0.5em 0.6em;
  border-radius: 0.3em;
  font-size: 0.9em;
  background-color: var(--light-gray);
  border: 1.5px solid var(--light-gray); /* TODO: figure out why the global border-box does not seem to be working */
}

.catalog .filter-button--active {
  background-color: var(--completed-light);
  border: 1.5px solid var(--completed-dark);
  color: var(--completed-dark);
  font-weight: 500;
}

.catalog .filter-label {
  margin-bottom: 5px;
  font-size: 0.9em;
  font-weight: 500;
}

.catalog .filter-label:first-child {
  margin-top: -5px;
}

.catalog .filter input[type="text"] {
  padding: 0.4em 0.5em;
  border-radius: 0.3em;
}

.catalog .filter-button-icon {
  margin-bottom: -3.5px;
  font-size: 1.3em;
}
