.continue-button p {
  margin: 0px;
}

.continue-button {
  background-color: var(--light-gray);
  padding: 0.6em 0.7em;
  border-radius: 0.3em;
  border: 1.5px solid var(--light-gray); /* TODO: figure out why the global border-box does not seem to be working */
}

.continue-button--active {
  background-color: var(--completed-light);
  border: 1.5px solid var(--completed-dark);
  color: var(--completed-dark);
  font-weight: 500;
}

.continue-button + .continue-button {
  margin-top: 7px;
}
