.rubric {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid var(--pop);
  cursor: default;
}

.rubric__heading {
  text-align: center;
  background-color: white;
  margin: auto;
  width: 150px;
  z-index: 1;
  margin-top: -22px;
  font-weight: 500;
}

.rubric__heading-background-rule {
  z-index: 0;
  border-top: 1.5px solid var(--pop);
}

.rubric__answer {
  padding: 10px 7px;
}

.rubric__answer + .rubric__answer {
  margin-top: 8px;
  margin-bottom: 8px;
}

.rubric__answer-contents {
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
  margin-left: 10px;
  width: 95%; /* TODO: Use grid instead to set an absolute width for the checkmark div */
}

.rubric__answer + .rubric__answer {
  border-top: none;
}

.rubric__answer--met {
  background-color: var(--completed-light);
}

.rubric__grade-indicator {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  font-size: 1.3em;
  color: var(--completed-dark);
}

.rubric__xmark {
  color: lightgray;
  margin-left: 3px;
}
