.table-of-contents .circular-progress-bar {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 10px;
}

.table-of-contents .circular-progress-bar .CircularProgressbar-text {
  transform: translate(-25px, 10px);
}

.table-of-contents .circular-progress-bar--zero .CircularProgressbar-text {
  transform: translate(-20px, 10px);
}

.table-of-contents
  .circular-progress-bar--one-hundred
  .CircularProgressbar-text {
  transform: translate(-34px, 10px);
}
