.table-of-contents {
  /* temporary scooch to avoid showing behind the header on scroll,
  eventually the TOC shouldn't scroll into the header unless there is content overflow */
  /* padding-top: 35px; */
}

.table-of-contents .circular-progress-bar {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 10px;
}

.table-of-contents .circular-progress-bar .CircularProgressbar-text {
  transform: translate(-25px, 10px);
}

.table-of-contents .circular-progress-bar--zero .CircularProgressbar-text {
  transform: translate(-20px, 10px);
}

.table-of-contents
  .circular-progress-bar--one-hundred
  .CircularProgressbar-text {
  transform: translate(-34px, 10px);
}

/*

TODO: Implement independent scrolling

.table-of-contents {
  top: 150px;
  left: 0;
  right: 0;
  height: 100vh;
  position: fixed;
  background-color: white;
  width: 350px;
  overflow-y: scroll;
  transition: 0.4s;
}
*/
