.topic__grid {
  display: grid;
  grid-template-columns: 1fr 310px auto 1fr;
  grid-template-rows: calc(100vh - 100px);
  grid-gap: 0.5em;
  overflow: hidden;
}

.topic__grid .topic__toc {
  overflow-y: auto;
  padding-left: 15px;
}

.topic__active-document {
  padding-bottom: 30px;
  padding-right: 15px;
  overflow-y: auto;
}
