.code-block {
  position: relative;
}

.code-block .text-copier {
  position: absolute;
  right: 3px;
  top: 6px;
}

.code-block .text-copier .text-copier__icon {
  color: white;
  font-size: 1.2em;
  padding: 0px 3px;
  border-radius: 2px;
  opacity: 70%;
}

.code-block .text-copier .text-copier__flash {
  position: absolute;
  width: 300px;
  text-align: right;
  top: -33px;
  right: 0px;
  font-size: 0.9em;
  font-style: italic;
  color: var(--pop);
  transition: 0.4s;
}

.text-copier__flash--active {
  opacity: 100%;
}

.text-copier__flash--inactive {
  opacity: 0%;
}
