.document {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 320px;
  width: 900px;
}

.document h1:first-child {
  margin-top: 0px;
}

.document__content {
  display: inline-block;
  vertical-align: top;
  width: 860px;
  transition: 0.3s;
}

.document span.hc {
  background-color: yellow;
}
