.next-button__button {
  background-color: var(--light-gray);
  color: black;
  display: block;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  width: 50px;
  padding: 7px;
}

.next-button__button--active {
  background-color: var(--completed-dark);
  color: white;
}
