.nps-question__selector {
  display: grid;
  margin-top: 12px;
  margin-bottom: 4px;
  grid-template-columns: repeat(11, 1fr);
}

.nps-question__option {
  border: 1.5px solid #e0e0e0;
  text-align: center;
  padding: 5px;
  margin-right: -1px;
}

.nps-question__option:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nps-question__option:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nps-question__option.nps-question__option--selected {
  background-color: var(--completed-light);
  border: 1.5px solid var(--completed-dark);
  color: var(--completed-dark);
  font-weight: bold;
  margin-right: 0px;
}

.nps-question__option--selected + .nps-question__option {
  margin-left: -1px;
  z-index: -1;
}

.nps-question__legend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.9em;
  font-style: italic;
}

.nps-question__legend--left {
  text-align: left;
}

.nps-question__legend--right {
  text-align: right;
}
