.selected-text-menu {
}

.selected-text-menu__content-title {
  font-weight: 600;
  font-size: 1.3em;
}

.selected-text-menu__container {
  position: absolute;
  right: -380px;
  top: 150px;
  width: 350px;
  transition: 0.3s;
}

.selected-text-menu__container--active {
  transform: translateX(-430px);
}

.selected-text-menu__nav {
  font-size: 1.5em;
  height: 35px;
  position: relative;
  left: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.selected-text-menu__content-area {
}

.selected-text-menu__nav-icon {
  float: right;
  margin-left: 15px;
}

.selected-text-menu__nav-icon--active {
  color: var(--pop);
}

.selected-text-menu__nav-icon:hover {
  color: var(--pop);
}
